<template>
  <div class="list-view product-checkout mt-0">
    <!-- Products List -->
    <e-commerce-checkout-step-cart-products />

    <!-- Checkout Options -->
    <div class="checkout-options">
      <b-card>
        <div class="price-details">
          <h6 class="price-title">{{ t("ecommerce.cart.pricedetails") }}</h6>
          <ul class="list-unstyled">
            <li class="price-detail">
              <div class="detail-title">
                {{ t("ecommerce.cart.totalorderamount") }}
              </div>
              <div class="detail-amt">8.696,99 TL</div>
            </li>
            <!-- <li class="price-detail">
              <div class="detail-title">Bag Discount</div>
              <div class="detail-amt discount-amt text-success">-25$</div>
            </li> -->
            <li class="price-detail">
              <div class="detail-title">{{ t("ecommerce.cart.vat") }}</div>
              <div class="detail-amt">1.565,46 TL</div>
            </li>

            <li class="price-detail">
              <div class="detail-title">
                {{ t("ecommerce.cart.delivertcharges") }}
              </div>
              <div class="detail-amt discount-amt text-success"> {{ t("ecommerce.productDetail.freeShipping") }}</div>
            </li>
          </ul>
          <hr />
          <ul class="list-unstyled">
            <li class="price-detail">
              <div class="detail-title detail-total">
                {{ t("ecommerce.cart.total") }}
              </div>
              <div class="detail-amt font-weight-bolder">10.262,44 TL</div>
            </li>
          </ul>
          <b-button variant="primary" block @click="$emit('next-step')">
            {{ t("ecommerce.cart.placeorder") }}
          </b-button>
        </div>
      </b-card>
    </div>
  </div>
</template>

<script>
import {
  BButton,
  BCard,
  BInputGroup,
  BFormInput,
  BInputGroupAppend,
} from "bootstrap-vue";

import ECommerceCheckoutStepCartProducts from "./ECommerceCheckoutStepCartProducts.vue";
import { useUtils as useI18nUtils } from "@core/libs/i18n";
export default {
  components: {
    // BSV
    BButton,
    BCard,
    BInputGroup,
    BFormInput,
    BInputGroupAppend,

    // SFC
    ECommerceCheckoutStepCartProducts,
  },
  setup() {
    const { t } = useI18nUtils();
    return {
      t,
    };
  },
};
</script>
