<template>
  <div class="row">
    <div class="col-md-3 mx-auto">
      <div class="auto">
        <b-card title="Price Details">
          <ul class="list-unstyled price-details">
            <li class="price-detail">
              <div class="details-title">Price of 3 items</div>
              <div class="detail-amt">
                <strong>$699.30</strong>
              </div>
            </li>
            <li class="price-detail">
              <div class="details-title">Delivery Charges</div>
              <div class="detail-amt discount-amt text-success">Free</div>
            </li>
          </ul>
          <hr />
          <ul class="list-unstyled price-details">
            <li class="price-detail">
              <div class="details-title">Amount Payable</div>
              <div class="detail-amt font-weight-bolder">$699.30</div>
            </li>
          </ul>
        </b-card>
      </div>
      <creditcard class="mx-auto"></creditcard>
    </div>
  </div>
</template>

<script>
import {
  BCard,
  BCardHeader,
  BCardTitle,
  BCardText,
  BCardBody,
  BFormGroup,
  BFormRadio,
  BFormInput,
  BButton,
  BRow,
  BCol,
  BFormInvalidFeedback,
} from "bootstrap-vue";
import { ValidationProvider, ValidationObserver } from "vee-validate";
import formValidation from "@core/comp-functions/forms/form-validation";
import { useUtils as useI18nUtils } from "@core/libs/i18n";
// import { VuePaycard } from "vue-paycard";
import creditcard from "../../../../components/creditcard.vue";
export default {
  components: {
    // BSV
    BCard,
    BCardHeader,
    BCardTitle,
    BCardText,
    BCardBody,
    BFormGroup,
    BFormRadio,
    BFormInput,
    BButton,
    BRow,
    BCol,
    BFormInvalidFeedback,
    // Form Validation
    ValidationProvider,
    ValidationObserver,

    creditcard,
  },
  data() {
    return {
      valueFields: {
        cardName: "",
        cardNumber: "5170414926801842",
        cardMonth: "",
        cardYear: "",
        cardCvv: "",
      },
      fields: {
        cardNumber: "v-card-number",
        cardName: "v-card-name",
        cardMonth: "v-card-month",
        cardYear: "v-card-year",
        cardCvv: "v-card-cvv",
      },

      labels: {
        cardName: "Full Name",
        cardHolder: "Card Holder",
        cardMonth: "MM",
        cardYear: "YY",
        cardExpires: "Expires",
        cardCvv: "CVV",
      },

      // minCardYear: new Date().getFullYear(),
      // isCardNumberMasked: true,
      // mainCardNumber: this.cardNumber,
      // cardNumberMaxLength: 19,
    };
  },
  props: {
    paymentDetails: {
      type: Object,
      required: true,
    },
  },
  setup() {
    const { t } = useI18nUtils();
    const { refFormObserver, getValidationState, resetForm } = formValidation(
      () => {}
    );
    return {
      t,
      // Form Validation
      refFormObserver,
      getValidationState,
      resetForm,
    };
  },
};
</script>

<style lang="scss" scoped>
#cvv {
  width: auto;
}
</style>
