<template>
  <div>
    <b-row>
      <b-col md="6" lg="4" v-if="invoiceAddress.id !== null">
        <!-- card 1 -->
        <b-card
          :header="t('ecommerce.invoiceaddress.invoiceAddress')"
          :title="invoiceAddress.addressName"
        >
          <b-card-text>
            <b-row>
              <b-col md="6" lg="4">
                {{ t("ecommerce.invoiceaddress.province") }}:
              </b-col>
              <b-col md="6" lg="4">
                {{ invoiceAddress.province }}
              </b-col>
            </b-row>

            <b-row>
              <b-col md="6" lg="4">
                {{ t("ecommerce.invoiceaddress.district") }}:
              </b-col>
              <b-col md="6" lg="4">
                {{ invoiceAddress.district }}
              </b-col>
            </b-row>

            <b-row>
              <b-col md="6" lg="4">
                {{ t("ecommerce.invoiceaddress.neighborhood") }}:
              </b-col>
              <b-col md="6" lg="4">
                {{ invoiceAddress.neighborhood }}
              </b-col>
            </b-row>

            <b-row>
              <b-col md="6" lg="4">
                {{ t("ecommerce.invoiceaddress.address") }}:
              </b-col>
              <b-col md="6" lg="4">
                {{ invoiceAddress.address }}
              </b-col>
            </b-row>
          </b-card-text>
          <b-form-checkbox
            v-model="invoiceAddress.id"
            :value="invoiceAddress.id"
          >
          </b-form-checkbox>
        </b-card>
      </b-col>

      <b-col md="6" lg="4" v-if="deliveryAddress.id !== null">
        <!-- card 1 -->
        <b-card
          :header="t('ecommerce.deliveryaddress.deliveryAddress')"
          :title="deliveryAddress.addressName"
        >
          <b-card-text>
            <b-row>
              <b-col md="6" lg="4">
                {{ t("ecommerce.deliveryaddress.province") }}:
              </b-col>
              <b-col md="6" lg="4">
                {{ deliveryAddress.province }}
              </b-col>
            </b-row>

            <b-row>
              <b-col md="6" lg="4">
                {{ t("ecommerce.deliveryaddress.district") }}:
              </b-col>
              <b-col md="6" lg="4">
                {{ deliveryAddress.district }}
              </b-col>
            </b-row>

            <b-row>
              <b-col md="6" lg="4">
                {{ t("ecommerce.deliveryaddress.neighborhood") }}:
              </b-col>
              <b-col md="6" lg="4">
                {{ deliveryAddress.neighborhood }}
              </b-col>
            </b-row>

            <b-row>
              <b-col md="6" lg="4">
                {{ t("ecommerce.deliveryaddress.address") }}:
              </b-col>
              <b-col md="6" lg="4">
                {{ deliveryAddress.address }}
              </b-col>
            </b-row>
          </b-card-text>
          <b-form-checkbox
            v-model="deliveryAddress.id"
            :value="deliveryAddress.id"
          >
          </b-form-checkbox>
        </b-card>
      </b-col>
      <b-col
        cols="8"
        md="8"
        v-if="deliveryAddress.id !== null && invoiceAddress.id !== null"
      >
        <b-button
          class="float-right"
          variant="primary"
          type="submit"
          @click="onSubmit"
        >
          {{ t("ecommerce.common.next") }}
        </b-button>
      </b-col>
    </b-row>

    <validation-observer
      #default="{ handleSubmit }"
      ref="refFormObserver"
      v-if="invoiceAddress.id == null || invoiceAddress.id == ''"
    >
      <b-form
        class="list-view product-checkout"
        @submit.prevent="handleSubmit(saveInvoceAddress)"
      >
        <!-- Left Form -->
        <b-card no-body>
          <b-card-header class="flex-column align-items-start">
            <b-card-title>{{
              t("ecommerce.invoiceaddress.addnewinvoiceaddress")
            }}</b-card-title>
          </b-card-header>
          <b-card-body>
            <!-- İnvoice Address start here -->
            <b-row>
              <!-- Invoice addressname -->
              <b-col cols="12" md="6">
                <validation-provider
                  #default="validationContextInvoice"
                  :name="t('ecommerce.invoiceaddress.addressname')"
                  rules="required"
                >
                  <b-form-group
                    :label="t('ecommerce.invoiceaddress.addressname')"
                    label-for="address-name"
                    class="mb-2"
                  >
                    <b-form-input
                      id="address-name"
                      v-model="invoiceAddress.addressName"
                      :state="getValidationState(validationContextInvoice)"
                      trim
                    />
                    <b-form-invalid-feedback>
                      {{ validationContextInvoice.errors[0] }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </validation-provider>
              </b-col>

              <!-- Invoice country -->
              <b-col cols="12" md="6">
                <validation-provider
                  #default="validationContextInvoice"
                  :name="t('ecommerce.invoiceaddress.country')"
                  rules="required"
                >
                  <b-form-group
                    :label="t('ecommerce.invoiceaddress.country')"
                    label-for="country"
                    :state="getValidationState(validationContextInvoice)"
                  >
                    <v-select
                      v-model="invoiceAddress.country"
                      :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                      :options="['Türkiye', 'Almanya']"
                      input-id="country"
                      :clearable="false"
                    />

                    <b-form-invalid-feedback
                      :state="getValidationState(validationContextInvoice)"
                    >
                      {{ validationContextInvoice.errors[0] }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </validation-provider>
              </b-col>

              <!-- Invoice province -->
              <b-col cols="12" md="6">
                <validation-provider
                  #default="validationContextInvoice"
                  :name="t('ecommerce.invoiceaddress.province')"
                  rules="required"
                >
                  <b-form-group
                    :label="t('ecommerce.invoiceaddress.province')"
                    label-for="province"
                    :state="getValidationState(validationContextInvoice)"
                  >
                    <v-select
                      v-model="invoiceAddress.province"
                      :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                      :options="['Adana', 'İstanbul']"
                      input-id="province"
                      :clearable="false"
                    />
                    <b-form-invalid-feedback
                      :state="getValidationState(validationContextInvoice)"
                    >
                      {{ validationContextInvoice.errors[0] }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </validation-provider>
              </b-col>

              <!-- Invoice district -->
              <b-col cols="12" md="6">
                <validation-provider
                  #default="validationContextInvoice"
                  :name="t('ecommerce.invoiceaddress.district')"
                  rules="required"
                >
                  <b-form-group
                    :label="t('ecommerce.invoiceaddress.district')"
                    label-for="district"
                    :state="getValidationState(validationContextInvoice)"
                  >
                    <v-select
                      v-model="invoiceAddress.district"
                      :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                      :options="['Bahçelievler', 'Sefaköy']"
                      input-id="district"
                      :clearable="false"
                    />
                    <b-form-invalid-feedback
                      :state="getValidationState(validationContextInvoice)"
                    >
                      {{ validationContextInvoice.errors[0] }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </validation-provider>
              </b-col>

              <!-- Invoice neighborhood -->
              <b-col cols="12" md="6">
                <validation-provider
                  #default="validationContextInvoice"
                  :name="t('ecommerce.invoiceaddress.neighborhood')"
                  rules="required"
                >
                  <b-form-group
                    :label="t('ecommerce.invoiceaddress.neighborhood')"
                    label-for="neighborhood"
                    :state="getValidationState(validationContextInvoice)"
                  >
                    <v-select
                      v-model="invoiceAddress.neighborhood"
                      :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                      :options="['Çoban Çeşme Mah.', 'Cennet Mah.']"
                      input-id="neighborhood"
                      :clearable="false"
                    />
                    <b-form-invalid-feedback
                      :state="getValidationState(validationContextInvoice)"
                    >
                      {{ validationContextInvoice.errors[0] }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </validation-provider>
              </b-col>

              <!-- Invoice postcode -->
              <b-col cols="12" md="6">
                <validation-provider
                  #default="validationContextInvoice"
                  :name="t('ecommerce.invoiceaddress.postcode')"
                  rules="required"
                >
                  <b-form-group
                    :label="t('ecommerce.invoiceaddress.postcode')"
                    label-for="postcode"
                    class="mb-2"
                  >
                    <b-form-input
                      id="postcode"
                      v-model="invoiceAddress.postcode"
                      :state="getValidationState(validationContextInvoice)"
                      trim
                    />
                    <b-form-invalid-feedback>
                      {{ validationContextInvoice.errors[0] }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </validation-provider>
              </b-col>

              <!-- Invoice address -->
              <b-col cols="12">
                <validation-provider
                  #default="validationContextInvoice"
                  :name="t('ecommerce.invoiceaddress.address')"
                  rules="required"
                >
                  <b-form-group
                    :label="t('ecommerce.invoiceaddress.address')"
                    label-for="address"
                    class="mb-2"
                  >
                    <b-form-input
                      id="address"
                      v-model="invoiceAddress.address"
                      :state="getValidationState(validationContextInvoice)"
                      trim
                    />
                    <b-form-invalid-feedback>
                      {{ validationContextInvoice.errors[0] }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </validation-provider>
              </b-col>

              <!--Invoice addresstype -->
              <b-col cols="12">
                <validation-provider
                  #default="validationContextDelivery"
                  :name="t('ecommerce.invoiceaddress.addresstype')"
                  rules="required"
                >
                  <b-form-group
                    :label="
                      invoiceAddress.addressType === true
                        ? t('ecommerce.invoiceaddress.addresstype') +
                          ' : ' +
                          t('ecommerce.invoiceaddress.individualaddress')
                        : t('ecommerce.invoiceaddress.addresstype') +
                          ' : ' +
                          t('ecommerce.invoiceaddress.companyaddress')
                    "
                    label-for="addresstype"
                    class="mb-2"
                  >
                    <b-form-checkbox
                      v-model="invoiceAddress.addressType"
                      :checked="invoiceAddress.addressType"
                      switch
                    />
                    <b-form-invalid-feedback>
                      {{ validationContextDelivery.errors[0] }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </validation-provider>
              </b-col>

              <!--Invoice Name -->
              <b-col
                v-if="invoiceAddress.addressType === true"
                cols="12"
                md="6"
              >
                <validation-provider
                  #default="validationContextInvoice"
                  :name="t('ecommerce.invoiceaddress.name')"
                  rules="required"
                >
                  <b-form-group
                    :label="t('ecommerce.invoiceaddress.name')"
                    label-for="name"
                    class="mb-2"
                  >
                    <b-form-input
                      id="name"
                      v-model="invoiceAddress.name"
                      :state="getValidationState(validationContextInvoice)"
                      trim
                    />
                    <b-form-invalid-feedback>
                      {{ validationContextInvoice.errors[0] }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </validation-provider>
              </b-col>

              <!--Invoice surname -->
              <b-col
                v-if="invoiceAddress.addressType === true"
                cols="12"
                md="6"
              >
                <validation-provider
                  #default="validationContextInvoice"
                  :name="t('ecommerce.invoiceaddress.surname')"
                  rules="required"
                >
                  <b-form-group
                    :label="t('ecommerce.invoiceaddress.surname')"
                    label-for="surname"
                    class="mb-2"
                  >
                    <b-form-input
                      id="surname"
                      v-model="invoiceAddress.lastname"
                      :state="getValidationState(validationContextInvoice)"
                      trim
                    />
                    <b-form-invalid-feedback>
                      {{ validationContextInvoice.errors[0] }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </validation-provider>
              </b-col>

              <!--Invoice identitynumber -->
              <b-col
                v-if="invoiceAddress.addressType === true"
                cols="12"
                md="6"
              >
                <validation-provider
                  #default="validationContextInvoice"
                  :name="t('ecommerce.invoiceaddress.identitynumber')"
                  rules="required"
                >
                  <b-form-group
                    :label="t('ecommerce.invoiceaddress.identitynumber')"
                    label-for="identitynumber"
                    class="mb-2"
                  >
                    <b-form-input
                      id="identitynumber"
                      v-model="invoiceAddress.identitynumber"
                      :state="getValidationState(validationContextInvoice)"
                      trim
                    />
                    <b-form-invalid-feedback>
                      {{ validationContextInvoice.errors[0] }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </validation-provider>
              </b-col>

              <!--Invoice Company Name -->
              <b-col
                v-if="invoiceAddress.addressType === false"
                cols="12"
                md="6"
              >
                <validation-provider
                  #default="validationContextInvoice"
                  :name="t('ecommerce.invoiceaddress.companyname')"
                  rules="required"
                >
                  <b-form-group
                    :label="t('ecommerce.invoiceaddress.companyname')"
                    label-for="companyname"
                    class="mb-2"
                  >
                    <b-form-input
                      id="companyname"
                      v-model="invoiceAddress.companyname"
                      :state="getValidationState(validationContextInvoice)"
                      trim
                    />
                    <b-form-invalid-feedback>
                      {{ validationContextInvoice.errors[0] }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </validation-provider>
              </b-col>

              <!-- Invoice taxoffice -->
              <b-col
                v-if="invoiceAddress.addressType === false"
                cols="12"
                md="6"
              >
                <validation-provider
                  #default="validationContextInvoice"
                  :name="t('ecommerce.invoiceaddress.taxoffice')"
                  rules="required"
                >
                  <b-form-group
                    :label="t('ecommerce.invoiceaddress.taxoffice')"
                    label-for="taxoffice"
                    class="mb-2"
                  >
                    <b-form-input
                      id="taxoffice"
                      v-model="invoiceAddress.taxoffice"
                      :state="getValidationState(validationContextInvoice)"
                      trim
                    />
                    <b-form-invalid-feedback>
                      {{ validationContextInvoice.errors[0] }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </validation-provider>
              </b-col>

              <!-- Invoice taxnumber -->
              <b-col
                v-if="invoiceAddress.addressType === false"
                cols="12"
                md="6"
              >
                <validation-provider
                  #default="validationContextInvoice"
                  :name="t('ecommerce.invoiceaddress.taxnumber')"
                  rules="required"
                >
                  <b-form-group
                    :label="t('ecommerce.invoiceaddress.taxnumber')"
                    label-for="taxnumber"
                    class="mb-2"
                  >
                    <b-form-input
                      id="taxnumber"
                      v-model="invoiceAddress.taxnumber"
                      :state="getValidationState(validationContextInvoice)"
                      trim
                    />
                    <b-form-invalid-feedback>
                      {{ validationContextInvoice.errors[0] }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </validation-provider>
              </b-col>

              <!-- Invoice companytype -->
              <b-col
                v-if="invoiceAddress.addressType === false"
                cols="12"
                md="6"
              >
                <validation-provider
                  #default="validationContextInvoice"
                  :name="t('ecommerce.invoiceaddress.companytype')"
                  rules="required"
                >
                  <b-form-group
                    :label="t('ecommerce.invoiceaddress.companytype')"
                    label-for="companytype"
                    :state="getValidationState(validationContextInvoice)"
                  >
                    <v-select
                      v-model="invoiceAddress.companytype"
                      :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                      :options="['Ltd.', 'Şti.']"
                      input-id="companytype"
                      :clearable="false"
                    />

                    <b-form-invalid-feedback
                      :state="getValidationState(validationContextInvoice)"
                    >
                      {{ validationContextInvoice.errors[0] }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </validation-provider>
              </b-col>

              <!-- Submit Button -->
              <br />
              <b-col cols="12" md="12">
                <!-- Teslimat adresim olarak da kaydet -->
                <!-- <b-col cols="4">
                  <b-form-group
                    :label="t('ecommerce.invoiceaddress.isSaveDeliveryAddress')"
                    label-for="isSaveDeliveryAddress"
                    class="mb-4"
                  >
                    <b-form-checkbox
                      v-model="invoiceAddress.isSaveDeliveryAddress"
                      :checked="invoiceAddress.isSaveDeliveryAddress"
                      switch
                    />
                  </b-form-group>
                </b-col> -->

                <b-col cols="8" md="8">
                  <b-button variant="primary" type="submit">
                    {{ t("ecommerce.invoiceaddress.saveinvoiceaddress") }}
                  </b-button>
                </b-col>
              </b-col>
            </b-row>
            <!-- İnvoice Address end here -->
          </b-card-body>
        </b-card>

        <!-- Right Col -->
        <div class="customer-card">
          <b-card :title="loraUserData.name + ' ' + loraUserData.lastName">
            <b-card-text class="mb-0">
              Email: {{ loraUserData.email }}
            </b-card-text>
            <b-card-text>Telefons: {{ loraUserData.phone }}</b-card-text>
          </b-card>
        </div>
      </b-form>
    </validation-observer>
    <validation-observer
      #default="{ handleSubmit }"
      ref="refFormObserver"
      v-if="deliveryAddress.id == null || deliveryAddress.id == ''"
    >
      <b-form
        class="list-view product-checkout"
        @submit.prevent="handleSubmit(saveDeliveryAddress)"
      >
        <!-- Left Form -->
        <b-card no-body>
          <b-card-header class="flex-column align-items-start">
            <b-card-title>{{
              t("ecommerce.deliveryaddress.addnewinvoiceaddress")
            }}</b-card-title>
          </b-card-header>
          <b-card-body>
            <!-- Delivery address start here -->
            <b-row>
              <!-- Delivery addressname -->
              <b-col cols="12" md="6">
                <validation-provider
                  #default="validationContextDelivery"
                  :name="t('ecommerce.deliveryaddress.addressname')"
                  rules="required"
                >
                  <b-form-group
                    :label="t('ecommerce.deliveryaddress.addressname')"
                    label-for="address-name"
                    class="mb-2"
                  >
                    <b-form-input
                      id="address-name"
                      v-model="deliveryAddress.addressName"
                      :state="getValidationState(validationContextDelivery)"
                      trim
                    />
                    <b-form-invalid-feedback>
                      {{ validationContextDelivery.errors[0] }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </validation-provider>
              </b-col>

              <!-- Delivery country -->
              <b-col cols="12" md="6">
                <validation-provider
                  #default="validationContextDelivery"
                  :name="t('ecommerce.deliveryaddress.country')"
                  rules="required"
                >
                  <b-form-group
                    :label="t('ecommerce.deliveryaddress.country')"
                    label-for="country"
                    :state="getValidationState(validationContextDelivery)"
                  >
                    <v-select
                      v-model="deliveryAddress.country"
                      :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                      :options="['Türkiye', 'Almanya']"
                      input-id="country"
                      :clearable="false"
                    />

                    <b-form-invalid-feedback
                      :state="getValidationState(validationContextDelivery)"
                    >
                      {{ validationContextDelivery.errors[0] }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </validation-provider>
              </b-col>

              <!-- Delivery province -->
              <b-col cols="12" md="6">
                <validation-provider
                  #default="validationContextDelivery"
                  :name="t('ecommerce.deliveryaddress.province')"
                  rules="required"
                >
                  <b-form-group
                    :label="t('ecommerce.deliveryaddress.province')"
                    label-for="province"
                    :state="getValidationState(validationContextDelivery)"
                  >
                    <v-select
                      v-model="deliveryAddress.province"
                      :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                      :options="['Adana', 'İstanbul']"
                      input-id="province"
                      :clearable="false"
                    />
                    <b-form-invalid-feedback
                      :state="getValidationState(validationContextDelivery)"
                    >
                      {{ validationContextDelivery.errors[0] }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </validation-provider>
              </b-col>

              <!-- Delivery district -->
              <b-col cols="12" md="6">
                <validation-provider
                  #default="validationContextDelivery"
                  :name="t('ecommerce.deliveryaddress.district')"
                  rules="required"
                >
                  <b-form-group
                    :label="t('ecommerce.deliveryaddress.district')"
                    label-for="district"
                    :state="getValidationState(validationContextDelivery)"
                  >
                    <v-select
                      v-model="deliveryAddress.district"
                      :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                      :options="['Bahçelievler', 'Sefaköy']"
                      input-id="district"
                      :clearable="false"
                    />
                    <b-form-invalid-feedback
                      :state="getValidationState(validationContextDelivery)"
                    >
                      {{ validationContextDelivery.errors[0] }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </validation-provider>
              </b-col>

              <!-- Delivery neighborhood -->
              <b-col cols="12" md="6">
                <validation-provider
                  #default="validationContextDelivery"
                  :name="t('ecommerce.deliveryaddress.neighborhood')"
                  rules="required"
                >
                  <b-form-group
                    :label="t('ecommerce.deliveryaddress.neighborhood')"
                    label-for="neighborhood"
                    :state="getValidationState(validationContextDelivery)"
                  >
                    <v-select
                      v-model="deliveryAddress.neighborhood"
                      :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                      :options="['Çoban Çeşme Mah.', 'Cennet Mah.']"
                      input-id="neighborhood"
                      :clearable="false"
                    />
                    <b-form-invalid-feedback
                      :state="getValidationState(validationContextDelivery)"
                    >
                      {{ validationContextDelivery.errors[0] }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </validation-provider>
              </b-col>

              <!-- Delivery postcode -->
              <b-col cols="12" md="6">
                <validation-provider
                  #default="validationContextDelivery"
                  :name="t('ecommerce.deliveryaddress.postcode')"
                  rules="required"
                >
                  <b-form-group
                    :label="t('ecommerce.deliveryaddress.postcode')"
                    label-for="postcode"
                    class="mb-2"
                  >
                    <b-form-input
                      id="postcode"
                      v-model="deliveryAddress.postcode"
                      :state="getValidationState(validationContextDelivery)"
                      trim
                    />
                    <b-form-invalid-feedback>
                      {{ validationContextDelivery.errors[0] }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </validation-provider>
              </b-col>

              <!-- Delivery address -->
              <b-col cols="12">
                <validation-provider
                  #default="validationContextDelivery"
                  :name="t('ecommerce.deliveryaddress.address')"
                  rules="required"
                >
                  <b-form-group
                    :label="t('ecommerce.deliveryaddress.address')"
                    label-for="address"
                    class="mb-2"
                  >
                    <b-form-input
                      id="address"
                      v-model="deliveryAddress.address"
                      :state="getValidationState(validationContextDelivery)"
                      trim
                    />
                    <b-form-invalid-feedback>
                      {{ validationContextDelivery.errors[0] }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </validation-provider>
              </b-col>

              <!--Delivery Name -->
              <b-col cols="12" md="6">
                <validation-provider
                  #default="validationContextDelivery"
                  :name="t('ecommerce.deliveryaddress.name')"
                  rules="required"
                >
                  <b-form-group
                    :label="t('ecommerce.deliveryaddress.name')"
                    label-for="name"
                    class="mb-2"
                  >
                    <b-form-input
                      id="name"
                      v-model="deliveryAddress.name"
                      :state="getValidationState(validationContextDelivery)"
                      trim
                    />
                    <b-form-invalid-feedback>
                      {{ validationContextDelivery.errors[0] }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </validation-provider>
              </b-col>

              <!--Delivery surname -->
              <b-col cols="12" md="6">
                <validation-provider
                  #default="validationContextDelivery"
                  :name="t('ecommerce.deliveryaddress.surname')"
                  rules="required"
                >
                  <b-form-group
                    :label="t('ecommerce.deliveryaddress.surname')"
                    label-for="surname"
                    class="mb-2"
                  >
                    <b-form-input
                      id="surname"
                      v-model="deliveryAddress.lastname"
                      :state="getValidationState(validationContextDelivery)"
                      trim
                    />
                    <b-form-invalid-feedback>
                      {{ validationContextDelivery.errors[0] }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </validation-provider>
              </b-col>

              <!--Delivery identitynumber -->
              <b-col cols="12" md="6">
                <validation-provider
                  #default="validationContextDelivery"
                  :name="t('ecommerce.deliveryaddress.identitynumber')"
                  rules="required"
                >
                  <b-form-group
                    :label="t('ecommerce.deliveryaddress.identitynumber')"
                    label-for="identitynumber"
                    class="mb-2"
                  >
                    <b-form-input
                      id="identitynumber"
                      v-model="deliveryAddress.identitynumber"
                      :state="getValidationState(validationContextDelivery)"
                      trim
                    />
                    <b-form-invalid-feedback>
                      {{ validationContextDelivery.errors[0] }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </validation-provider>
              </b-col>

              <!-- Submit Button -->
              <br />
              <b-col cols="12" md="12">
                <b-col cols="8" md="8">
                  <b-button variant="primary" type="submit">
                    {{ t("ecommerce.deliveryaddress.savedeliveryaddress") }}
                  </b-button>
                </b-col>
              </b-col>
            </b-row>
          </b-card-body>
        </b-card>
      </b-form>
    </validation-observer>
  </div>
</template>

<script>
import {
  BForm,
  BCard,
  BCardHeader,
  BCardTitle,
  BCardText,
  BCardBody,
  BRow,
  BCol,
  BFormGroup,
  BFormInput,
  BButton,
  BFormInvalidFeedback,
  BFormCheckbox,
} from "bootstrap-vue";
import { ValidationProvider, ValidationObserver } from "vee-validate";
import vSelect from "vue-select";
import { required, integer } from "@validations";
import formValidation from "@core/comp-functions/forms/form-validation";
import { useUtils as useI18nUtils } from "@core/libs/i18n";
import ToastificationContent from "@core/components/toastification/ToastificationContent.vue";
import axios from "axios";
import firebase from "../../../../firebase/firebaseDb.js";

export default {
  components: {
    // BSV
    BForm,
    BCard,
    BCardHeader,
    BCardTitle,
    BCardText,
    BCardBody,
    BRow,
    BCol,
    BFormGroup,
    BFormInput,
    BButton,
    BFormInvalidFeedback,
    BFormCheckbox,

    // Form Validation
    ValidationProvider,
    ValidationObserver,

    // 3rd party
    vSelect,
  },
  props: {
    addressDetails: {
      type: Object,
      required: true,
    },
  },
  created() {},
  data() {
    return {
      invoiceAddress: {
        id: null,
        authId: null,
        addressName: null,
        country: null,
        province: null,
        district: null,
        neighborhood: null,
        postcode: null,
        address: null,
        addressType: false,
        name: null,
        lastname: null,
        identitynumber: null,
        companyname: null,
        taxoffice: null,
        taxnumber: null,
        companytype: null,
        isSaveDeliveryAddress: false,
      },
      deliveryAddress: {
        id: null,
        addressName: null,
        country: null,
        province: null,
        district: null,
        neighborhood: null,
        postcode: null,
        address: null,
        addressType: true,
        name: "",
        lastname: "",
        identitynumber: "",
      },
      loraUserData: JSON.parse(localStorage.getItem("loraUserData")),
    };
  },
  async created() {
    this.getUserAddresses();
  },
  methods: {
    getUserAddresses() {
      const { authId } = JSON.parse(localStorage.getItem("loraUserData"));

      //Fatura Adresi
      firebase
        .firestore()
        .collection("invoice-address")
        .where("authId", "==", authId)
        .get()
        .then((querySnapshot) => {
          if (querySnapshot.docs.length > 0) {
            this.invoiceAddress = querySnapshot.docs[0].data();
          }
        });

      //Teslimat Addresi
      firebase
        .firestore()
        .collection("delivery-address")
        .where("authId", "==", authId)
        .get()
        .then((querySnapshot) => {
          if (querySnapshot.docs.length > 0) {
            this.deliveryAddress = querySnapshot.docs[0].data();
          }
        });
    },
    saveInvoceAddress() {
      const vm = this;
      const loraUserData = JSON.parse(localStorage.getItem("loraUserData"));
      vm.invoiceAddress.authId = loraUserData.authId;
      firebase
        .firestore()
        .collection("invoice-address")
        .add(vm.invoiceAddress)
        .then((response) => {
          firebase
            .firestore()
            .collection("invoice-address")
            .doc(response.id)
            .update({
              id: response.id,
            });

          vm.invoiceAddress.id = response.id;

          vm.$toast({
            component: ToastificationContent,
            position: "top-right",
            duration: 5000,
            props: {
              title: vm.$t(
                "ecommerce.invoiceaddress.newInvoiceAddressSaveTitle"
              ),
              icon: "CheckIcon",
              variant: "success",
              text: vm.$t("ecommerce.invoiceaddress.successSaveInvoiceAddress"),
            },
          });
        });
    },
    saveDeliveryAddress() {
      const vm = this;
      const loraUserData = JSON.parse(localStorage.getItem("loraUserData"));
      vm.deliveryAddress.authId = loraUserData.authId;
      firebase
        .firestore()
        .collection("delivery-address")
        .add(vm.deliveryAddress)
        .then((response) => {
          firebase
            .firestore()
            .collection("delivery-address")
            .doc(response.id)
            .update({
              id: response.id,
            });

          vm.deliveryAddress.id = response.id;

          vm.$toast({
            component: ToastificationContent,
            position: "top-right",
            duration: 5000,
            props: {
              title: vm.$t(
                "ecommerce.deliveryaddress.newDeliveryAddressSaveTitle"
              ),
              icon: "CheckIcon",
              variant: "success",
              text: vm.$t(
                "ecommerce.deliveryaddress.successSaveDeliveryAddress"
              ),
            },
          });
        });
    },
    onCustomSubmit() {
    
      alert("asd");
    },
  },
  setup(_, { emit }) {
    const { refFormObserver, getValidationState, resetForm } = formValidation(
      () => {}
    );
    const { t } = useI18nUtils();

    const onSubmit = () => {
      emit("next-step");
    };

    return {
      t,
      // Form
      onSubmit,

      // Form Validation
      refFormObserver,
      getValidationState,
      resetForm,

      // FOrm Validators
      required,
      integer,
    };
  },
};
</script>

<style lang="scss">
@import "@core/scss/vue/libs/vue-select.scss";
</style>
