<template>
  <section id="card-text-alignment">
    <h5 class="mt-3 mb-2"></h5>
    <b-row>
      <!-- left align -->
      <b-col md="6" lg="4"> </b-col>

      <!-- center align -->
      <b-col md="6" lg="4">
        <b-card title="Special title treatment" class="text-center">
          <b-card-text>
            <pre>{{ paymentResult }}</pre>
          </b-card-text>
        </b-card>
      </b-col>

      <!-- right align -->
      <b-col md="6" lg="4"> </b-col>
    </b-row>
  </section>
</template>

<script>
import { BRow, BCol, BCard, BCardText, BButton } from "bootstrap-vue";
import loraurl from "../urls/loraUrls.js";
import Ripple from "vue-ripple-directive";
import axios from "axios";
export default {
  components: {
    BRow,
    BCol,
    BCard,
    BCardText,
    BButton,
  },
  directives: {
    Ripple,
  },
  created() {
    this.getPayment();
  },
  data() {
    return {
      paymentResult: null,
    };
  },
  methods: {
    getPayment() {
      debugger;
      let loraUser = JSON.parse(localStorage.getItem("loraUserData"));
      let paymentRouteId = this.$route.query.paymentId;
      if (paymentRouteId != "null") {
        let ip = JSON.parse(localStorage.getItem("loraUserData"))
          .clientConnection.ip;
        let params = {
          paymentId: paymentRouteId,
        };
        let vm = this;
        console.log(loraurl.payment.paths.paymentRetrieve);
        axios
          .post(loraurl.payment.paths.paymentRetrieve, params)
          .then((response) => {
            vm.paymentResult = response.data;
          });
      } else {
        this.paymentResult = null;
        this.paymentResult = "Ödemenizi alamadık!"
      }
    },
  },
};
</script>
