<template>
  <div class="auth-wrapper auth-v2">
    <b-row class="auth-inner m-0">
      <!-- Brand logo-->
      <b-link class="brand-logo">
        <!-- <vuexy-logo /> -->
        <h2 class="brand-text text-primary ml-1">
          LoRa Gateway
        </h2>
      </b-link>
      <!-- /Brand logo-->

      <!-- Login-->
      <b-col
        lg="4"
        class="d-flex px-xl-2 mx-auto align-items-center auth-bg px-2 p-lg-5"
      >
        <b-col
          sm="8"
          md="6"
          lg="12"
          class="px-xl-2 mx-auto"
        >
          <b-card-title
            class="mb-1 font-weight-bold"
            title-tag="h2"
          >
            {{ t('login.form.welcome') }}! 👋
          </b-card-title>
          <b-card-text class="mb-2">
            {{ t('login.form.notetext') }}!
          </b-card-text>

          <!-- form -->
          <validation-observer
            ref="loginForm"
            #default="{ invalid }"
          >
            <b-form
              class="auth-login-form mt-2"
              @submit.prevent="login"
            >
              <!-- email -->
              <b-form-group
                :label="t('login.form.email')"
                label-for="login-email"
              >
                <validation-provider
                  #default="{ errors }"
                  :name="t('login.form.email')"
                  vid="email"
                  rules="required|email"
                >
                  <b-form-input
                    id="login-email"
                    v-model="userEmail"
                    :state="errors.length > 0 ? false : null"
                    name="login-email"
                    placeholder="john@example.com"
                  />
                  <small class="text-danger">{{ errors[0] }}</small>
                </validation-provider>
              </b-form-group>

              <!-- forgot password -->
              <b-form-group>
                <div class="d-flex justify-content-between">
                  <label for="login-password">{{
                    t('login.form.password')
                  }}</label>
                  <b-link :to="{ name: 'auth-forgot-password' }">
                    <small>{{ t('login.form.forgotpassword') }}?</small>
                  </b-link>
                </div>
                <validation-provider
                  #default="{ errors }"
                  :name="t('login.form.password')"
                  vid="password"
                  rules="required"
                >
                  <b-input-group
                    class="input-group-merge"
                    :class="errors.length > 0 ? 'is-invalid' : null"
                  >
                    <b-form-input
                      id="login-password"
                      v-model="password"
                      :state="errors.length > 0 ? false : null"
                      class="form-control-merge"
                      :type="passwordFieldType"
                      name="login-password"
                      placeholder="Password"
                    />
                    <b-input-group-append is-text>
                      <feather-icon
                        class="cursor-pointer"
                        :icon="passwordToggleIcon"
                        @click="togglePasswordVisibility"
                      />
                    </b-input-group-append>
                  </b-input-group>
                  <small class="text-danger">{{ errors[0] }}</small>
                </validation-provider>
              </b-form-group>

              <!-- checkbox -->
              <b-form-group>
                <b-form-checkbox
                  id="remember-me"
                  v-model="status"
                  name="checkbox-1"
                >
                  {{ t('login.form.rememberme') }}
                </b-form-checkbox>
              </b-form-group>

              <!-- submit buttons -->
              <b-button
                type="submit"
                variant="primary"
                block
                :disabled="invalid"
              >
                {{ t('login.form.login') }}
              </b-button>
            </b-form>
          </validation-observer>
          <!-- divider -->
          <div class="divider my-2">
            <div class="divider-text">
              {{ t('login.form.or') }}
            </div>
          </div>
          <b-card-text class="text-center mt-2">
            <b-link :to="{ name: 'auth-register' }">
              <span>&nbsp;{{ t('login.form.createaccount') }}</span>
            </b-link>
          </b-card-text>
        </b-col>
      </b-col>
      <!-- /Login-->
    </b-row>
  </div>
</template>

<script>
/* eslint-disable global-require */
import { localize, ValidationProvider, ValidationObserver } from 'vee-validate'
import en from 'vee-validate/dist/locale/en.json'
import tr from 'vee-validate/dist/locale/tr.json'
import VuexyLogo from '@core/layouts/components/Logo.vue'
import {
  BRow,
  BCol,
  BLink,
  BFormGroup,
  BFormInput,
  BInputGroupAppend,
  BInputGroup,
  BFormCheckbox,
  BCardText,
  BCardTitle,
  BImg,
  BForm,
  BButton,
  BAlert,
  VBTooltip,
} from 'bootstrap-vue'
import { required, email } from '@validations'
import { togglePasswordVisibility } from '@core/mixins/ui/forms'
import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'
import { useUtils as useI18nUtils } from '@core/libs/i18n'
import useJwt from '@/auth/jwt/useJwt'
import store from '@/store/index'
import { getHomeRouteForLoggedInUser } from '@/auth/utils'
// import firebase from './src/firebase/firebaseDb.js'

import firebase from '../../../firebase/firebaseDb.js'
import user from '@/models/userModel.js'
import ability from '@/libs/acl/ability.js'

export default {
  directives: {
    'b-tooltip': VBTooltip,
  },
  components: {
    BRow,
    BCol,
    BLink,
    BFormGroup,
    BFormInput,
    BInputGroupAppend,
    BInputGroup,
    BFormCheckbox,
    BCardText,
    BCardTitle,
    BImg,
    BForm,
    BButton,
    BAlert,
    VuexyLogo,
    ValidationProvider,
    ValidationObserver,
  },
  mixins: [togglePasswordVisibility],
  data() {
    return {
      status: '',
      password: '123456',
      userEmail: 'ikarakus@birisi.com',
      sideImg: require('@/assets/images/pages/login-v2.svg'),
      user: {
        id: null,
        authId: null,
        sysUserId: null,
        name: null,
        lastName: null,
        phone: null,
        email: null,
        password: null,
        createdDate: null,
        updateDate: null,
        createdIpAddress: null,
        commerciallawagreement: true,
        membershipcontionagreement: true,
        clientConnection: null,
      },
      // validation rules
      required,
      email,
    }
  },
  computed: {
    passwordToggleIcon() {
      return this.passwordFieldType === 'password' ? 'EyeIcon' : 'EyeOffIcon'
    },
    imgUrl() {
      if (store.state.appConfig.layout.skin === 'dark') {
        // eslint-disable-next-line vue/no-side-effects-in-computed-properties
        this.sideImg = require('@/assets/images/pages/login-v2-dark.svg')
        return this.sideImg
      }
      return this.sideImg
    },
  },
  async created() {
    localize('tr', tr)
    this.$i18n.locale = 'tr'
    this.getIpAddress()
  },
  methods: {
    login() {
      const vm = this
      vm.$refs.loginForm.validate().then(success => {
        if (success) {
          firebase
            .auth()
            .signInWithEmailAndPassword(vm.userEmail, vm.password)
            .then(response => {
              firebase
                .firestore()
                .collection('lora-users')
                .where('authId', '==', response.user.uid)
                .get()
                .then(querySnapshot => {
                  const clientConnection = JSON.parse(
                    localStorage.getItem('clientConnection'),
                  )

                  querySnapshot.forEach(doc => {
                    vm.user = doc.data()
                    doc.data().clientConnection = 'clientConnection'
                    firebase
                      .firestore()
                      .collection('lora-users')
                      .doc(doc.id)
                      .update({
                        clientConnection,
                        updateDate: vm.moment().format(),
                      })
                    localStorage.setItem(
                      'loraUserData',
                      JSON.stringify(doc.data()),
                    )
                  })
                })

              const userData = {
                id: response.user.uid,
                email: vm.userEmail,
                username: response.user.displayName.toLocaleLowerCase(),
                fullName: response.user.displayName,
                avatar: null,
                role: 'client',
                ability: [
                  {
                    action: 'manage',
                    subject: 'all',
                  },
                ],
              }

              useJwt.setToken(response.user.multiFactor.user.accessToken)
              useJwt.setRefreshToken(response.user.refreshToken)
              this.$store.commit('app-ecommerce/UPDATE_CART_ITEMS_COUNT', 0)
              localStorage.setItem('userData', JSON.stringify(userData))

              this.$ability.update(userData.ability)

              // ? This is just for demo purpose as well.
              // ? Because we are showing eCommerce app's cart items count in navbar
              // this.$store.commit('app-ecommerce/UPDATE_CART_ITEMS_COUNT', userData.extras.eCommerceCartItemsCount)
              // ? This is just for demo purpose. Don't think CASL is role based in this case, we used role in if condition just for ease
              this.$router
                .push('/apps/e-commerce/SEEED-1109916XX-726224')
                .then(() => {
                  this.$toast({
                    component: ToastificationContent,
                    position: 'top-right',
                    props: {
                      title:
                        `${vm.$t('login.form.welcome')} ${userData.fullName}`
                        || userData.username,
                      icon: 'CoffeeIcon',
                      variant: 'success',
                      text: `${userData.fullName} ${vm.$t(
                        'login.form.successloginmessage',
                      )}`,
                    },
                  })
                })
            })
            .catch(error => {
              console.log(error)
            })
        }
      })
    },
    async getIpAddress() {
      const vm = this
      const request = await fetch('https://ipinfo.io/json?token=279222c5ceecfc')
      const json = await request.json()
      localStorage.setItem('clientConnection', JSON.stringify(json))
    },
  },
  setup() {
    const { t } = useI18nUtils()
    return {
      t,
    }
  },
}
</script>

<style lang="scss">
@import '@core/scss/vue/pages/page-auth.scss';
</style>
