<template>
  <div class="auth-wrapper auth-v2">
    <b-row class="auth-inner m-0">
      <!-- Brand logo-->
      <b-link class="brand-logo">
        <h2 class="brand-text text-primary ml-1">
          LoRa Gateway
        </h2>
      </b-link>
      <!-- /Brand logo-->

      <!-- Register-->
      <b-col
        lg="4"
        class="d-flex px-xl-2 mx-auto align-items-center auth-bg px-2 p-lg-5"
      >
        <b-col
          sm="8"
          md="6"
          lg="12"
          class="px-xl-2 mx-auto"
        >
          <!-- form -->
          <validation-observer
            ref="registerForm"
            #default="{ invalid }"
          >
            <b-form
              class="auth-register-form mt-2"
              @submit.prevent="register"
            >
              <!-- isim -->
              <b-form-group
                :label="t('register.form.name')"
                label-for="İsim"
              >
                <validation-provider
                  #default="{ errors }"
                  :name="t('register.form.name')"
                  rules="required"
                >
                  <b-form-input
                    id="name"
                    v-model="user.name"
                    :state="errors.length > 0 ? false : null"
                    name="register-name"
                    placeholder="Lemis"
                  />
                  <small class="text-danger">{{ errors[0] }}</small>
                </validation-provider>
              </b-form-group>

              <!-- soyisim -->
              <b-form-group
                :label="t('register.form.lastName')"
                label-for="Soyisim"
              >
                <validation-provider
                  #default="{ errors }"
                  :name="t('register.form.lastName')"
                  rules="required"
                >
                  <b-form-input
                    id="lastName"
                    v-model="user.lastName"
                    :state="errors.length > 0 ? false : null"
                    name="register-lastName"
                    placeholder="Akman"
                  />
                  <small class="text-danger">{{ errors[0] }}</small>
                </validation-provider>
              </b-form-group>

              <!-- Mobil -->
              <b-form-group
                :label="t('register.form.phone')"
                label-for="phone"
              >
                <validation-provider
                  #default="{ errors }"
                  :name="t('register.form.phone')"
                  rules="required"
                >
                  <b-input-group>
                    <cleave
                      id="phone"
                      v-model="user.phone"
                      class="form-control"
                      :raw="false"
                      :options="options.phone"
                      placeholder="+905936369888"
                    />
                  </b-input-group>
                  <small class="text-danger">{{ errors[0] }}</small>
                </validation-provider>
              </b-form-group>

              <!-- email -->
              <b-form-group
                :label="t('register.form.email')"
                label-for="register-email"
              >
                <validation-provider
                  #default="{ errors }"
                  :name="t('register.form.email')"
                  vid="email"
                  rules="required|email"
                >
                  <b-form-input
                    id="register-email"
                    v-model="user.email"
                    name="register-email"
                    :state="errors.length > 0 ? false : null"
                    placeholder="birisi@example.com"
                  />
                  <small class="text-danger">{{ errors[0] }}</small>
                </validation-provider>
              </b-form-group>

              <!-- password -->
              <b-form-group
                label-for="register-password"
                :label="t('register.form.password')"
              >
                <validation-provider
                  #default="{ errors }"
                  :name="t('register.form.password')"
                  vid="password"
                  rules="required"
                >
                  <b-input-group
                    class="input-group-merge"
                    :class="errors.length > 0 ? 'is-invalid' : null"
                  >
                    <b-form-input
                      id="register-password"
                      v-model="user.password"
                      class="form-control-merge"
                      :type="passwordFieldType"
                      :state="errors.length > 0 ? false : null"
                      name="register-password"
                      placeholder="············"
                      autocomplete="on"
                    />
                    <b-input-group-append is-text>
                      <feather-icon
                        :icon="passwordToggleIcon"
                        class="cursor-pointer"
                        @click="togglePasswordVisibility"
                      />
                    </b-input-group-append>
                  </b-input-group>
                  <small class="text-danger">{{ errors[0] }}</small>
                </validation-provider>
              </b-form-group>

              <!-- 6563 Elektronik Ticaret Kanunu -->
              <b-form-group>
                <b-form-checkbox
                  id="electronic-commerce-law"
                  v-model="user.commerciallawagreement"
                  name="electronic-commerce-law"
                >
                  {{ t('register.form.commerciallawagreement') }}
                  <!-- <b-link>
                    {{ t('register.form.agreeprivacyandpolicy') }}</b-link> -->
                </b-form-checkbox>
              </b-form-group>

              <!-- Üyelik koşulları -->
              <b-form-group>
                <b-form-checkbox
                  id="membership-privacy-policy"
                  v-model="user.membershipcontionagreement"
                  name="membership-privacy-policy"
                >
                  {{ t('register.form.membershipcontionagreement') }}
                  <!-- <b-link>
                    {{ t('register.form.agreeprivacyandpolicy') }}</b-link> -->
                </b-form-checkbox>
              </b-form-group>

              <!-- kayıt butonu -->
              <b-button
                variant="primary"
                block
                type="submit"
                :disabled="invalid"
              >
                {{ t('register.form.register') }}
              </b-button>
            </b-form>
          </validation-observer>
          <!-- divider -->
          <div class="divider my-2">
            <div class="divider-text">
              or
            </div>
          </div>
          <p class="text-center mt-2">
            <span>{{ t('register.form.alreadyhaveanaccount') }}</span>
            <b-link :to="{ name: 'auth-login' }">
              <span>&nbsp;{{ t('register.form.login') }}</span>
            </b-link>
          </p>
        </b-col>
      </b-col>
      <!-- /Register-->
    </b-row>
  </div>
</template>

<script>
/* eslint-disable global-require */
import { localize, ValidationProvider, ValidationObserver } from 'vee-validate'
import en from 'vee-validate/dist/locale/en.json'
import tr from 'vee-validate/dist/locale/tr.json'
import VuexyLogo from '@core/layouts/components/Logo.vue'
import {
  BRow,
  BCol,
  BLink,
  BButton,
  BForm,
  BFormCheckbox,
  BFormGroup,
  BFormInput,
  BInputGroup,
  BInputGroupAppend,
  BImg,
  BCardTitle,
  BCardText,
  BInputGroupPrepend,
} from 'bootstrap-vue'
import ToastificationContent from '@core/components/toastification/ToastificationContent.vue'

import { required, email } from '@validations'
import { togglePasswordVisibility } from '@core/mixins/ui/forms'
import { useUtils as useI18nUtils } from '@core/libs/i18n'

import Cleave from 'vue-cleave-component'
import store from '@/store/index'
import firebase from '../../../firebase/firebaseDb.js'
// import user from "../../../models/userModel.js";

// eslint-disable-next-line import/no-extraneous-dependencies
import 'cleave.js/dist/addons/cleave-phone.tr'

export default {
  components: {
    VuexyLogo,
    BRow,
    BImg,
    BCol,
    BLink,
    BButton,
    BForm,
    BCardText,
    BCardTitle,
    BFormCheckbox,
    BFormGroup,
    BFormInput,
    BInputGroup,
    BInputGroupAppend,
    BInputGroupPrepend,

    Cleave,
    // validations
    ValidationProvider,
    ValidationObserver,
  },
  mixins: [togglePasswordVisibility],

  data() {
    return {
      options: {
        phone: {
          numericOnly: true,
          phone: true,
          phoneRegionCode: 'TR',
        },
      },
      user: {
        id: null,
        authId: null,
        sysUserId: null,
        name: null,
        lastName: null,
        phone: null,
        email: null,
        password: null,
        createdDate: null,
        updateDate: null,
        createdIpAddress: null,
        commerciallawagreement: true,
        membershipcontionagreement: true,
        clientConnection: null,
      },
      membershipPrivacypolicy: false,
      electronicCommerceLaw: false,
      sideImg: require('@/assets/images/pages/register-v2.svg'),
      // validation
      required,
    }
  },
  computed: {
    passwordToggleIcon() {
      return this.passwordFieldType === 'password' ? 'EyeIcon' : 'EyeOffIcon'
    },
    imgUrl() {
      if (store.state.appConfig.layout.skin === 'dark') {
        // eslint-disable-next-line vue/no-side-effects-in-computed-properties
        this.sideImg = require('@/assets/images/pages/register-v2-dark.svg')
        return this.sideImg
      }
      return this.sideImg
    },
  },
  async created() {
    localize('tr', tr)

    this.$i18n.locale = 'tr'
    this.user.name = 'İsmail'
    this.user.lastName = 'Karakuş'
    this.user.email = 'ikarakus@birisi.com'
    this.user.phone = '05386968200'
    this.user.password = '123456'

    this.user.createdDate = this.moment().format()
    this.user.updateDate = this.moment().format()
    this.getIpAddress()
    // this.user.createdIpAddress = this.getIpAddress()
  },
  methods: {
    register() {
      const vm = this
      vm.$refs.registerForm.validate().then(success => {
        if (success) {
          // Kullancıyı oluştur
          firebase
            .auth()
            .createUserWithEmailAndPassword(vm.user.email, vm.user.password)
            .then(response => {
              vm.user.authId = response.user.uid
              firebase
                .auth()
                .currentUser.updateProfile({
                  displayName: `${vm.user.name} ${vm.user.lastName}`,
                  photoURL: 'https://example.com/jane-q-user/no-image.jpg',
                })
                .then(response => {
                  // Lora kullanıcısı oluşturulur
                  delete vm.user.password
                  firebase
                    .firestore()
                    .collection('lora-users')
                    .add(vm.user)
                    .then(response => {
                      // Oluşturulan kullanıcı için Id ataması yapılır
                      firebase
                        .firestore()
                        .collection('lora-users')
                        .doc(response.id)
                        .update({ id: response.id })
                    })
                    .catch(error => {})
                })
                .catch(error => {})

              vm.$toast(
                {
                  component: ToastificationContent,
                  position: 'top-right',
                  duration: 5000,
                  props: {
                    title: vm.$t('register.form.messages.welcome'),
                    icon: 'CheckIcon',
                    variant: 'success',
                    text: `${vm.$t(
                      'register.form.messages.successregister',
                    )},${vm.$t('register.form.messages.redirectologin')}`,
                  },
                },
                setTimeout(() => {
                  vm.$router.push('login')
                }, 5000),
              )
            })
            .catch(error => {
              vm.$toast({
                component: ToastificationContent,
                position: 'top-right',
                duration: 5000,
                props: {
                  title: vm.$t('register.form.messages.warning'),
                  icon: 'WarningIcon',
                  variant: 'warning',
                  text: vm.$t(`register.form.errors.${error.code}`),
                },
              })
            })
        }
      })
    },

    async getIpAddress() {
      const vm = this
      const request = await fetch('https://ipinfo.io/json?token=279222c5ceecfc')
      const json = await request.json()
      vm.user.clientConnection = json
      vm.user.createdIpAddress = json.ip
    },
  },
  setup() {
    const { t } = useI18nUtils()
    return {
      t,
    }
  },
}
/* eslint-disable global-require */
</script>

<style lang="scss">
@import '@core/scss/vue/pages/page-auth.scss';
</style>
